.ext_div {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  padding: 10px;
  /* padding-right: 10vh; */
}

.Lpimg {
  height: auto;
  max-width: 409px;
  object-fit: contain;
  filter: drop-shadow(-1px 4px 20px rgba(0, 0, 0, 0.5));
  border-radius: 5%;
  min-width: 200px;
}

/* @media screen and (max-width: 1117px) {
  .ext_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;

    flex-wrap: wrap;
    position: absolute;
    top: 0px;
  }
} */

.heading {
  color: rgb(247, 234, 234);
  font-weight: bold;

  transition-property: content;

  font-size: 7vh;
}
@keyframes linemovement2 {
  from {
    left: -200vw;
    opacity: 0;
  }
  to {
    left: -3vw;
    opacity: 1;
  }
}

@keyframes linemovement1 {
  from {
    left: 100vw;
    opacity: 0;
  }
  to {
    left: 3vw;
    opacity: 1;
  }
}
.heading:hover {
  transform: translateX(-23px);
}

.heading::before {
  position: relative;
  left: 8vw;
  top: 1vh;
  animation-name: linemovement2;
  animation-duration: 2s;
  content: "_________";
  border-top: white;
}

.heading::after {
  position: relative;
  left: -7vw;
  top: -7vh;
  animation-name: linemovement1;
  animation-duration: 2s;
  content: "_________";
  border-top: white;
}
