.ext_div {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centerstyle {
  width: 43vw;
  min-width: 250px;
  margin-right: 38px;
  margin-left: 10px;
  margin-left: 20px;
  padding: 20px;
  background-color: black;
  height: 80vh;
  box-shadow: -2px 5px 20px -5px rgb(88, 84, 84);
  border-radius: 15px;
  overflow: auto;
}
.heading {
  text-transform: capitalize;
  text-align: center;
  color: white;
}
.Lpimg {
  height: auto;
  margin-right: 10px;
  object-fit: contain;
  width: 390px;
  box-shadow: 1px 3px 2px 0px rgb(202, 190, 190);
  border-radius: 5%;
}

@media screen and (max-width: 1024px) {
  .Lpimg {
    display: none;
  }
  .ext_div {
    margin-top: 15vh;
    min-height: 50vh;
    min-width: 300px;
  }
}
